
.preview {
    display: flex;

}
.prewiew__menu {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 255, 0);
}
.prewiew__menu__item {

}
.prewiew__menu__item--active {

}
.prewiew__content {
    display: flex;
    flex-direction: column;
    background-color: red;
}